@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* color: #1e9285; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

section {
    background-color: #1e92851e;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.title {
    font-size: 76px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}


.title--secondary {
    color: #1e9285;
}

.text-color {
    color: #dcc831;
    font-weight: bold;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

button {
    cursor: pointer;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: black;
    transition: all 300ms ease;
}

.link__hover-effect--yellow:after {
    background-color: #dcc831;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

input, textarea {
    width: 100%;
    background-color: black;
    color: white;
    outline: none;
    border-top: none;
    border-left: none;
    border-bottom: 3px solid #dcc831;
    border-radius: 6px;
    height: 40px;
    transition: all 300ms ease;
}

input:hover, textarea:hover {
    border-color: #1e9285;
}

input:focus, textarea:focus {
    border-color: #1e9285;
}

textarea {
    resize: vertical;
    height: 140px;
    margin-top: 12px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

/* 

LANDING-PAGE 

*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 32px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 420px;
}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    text-decoration: none;
    color: #1e9285;
    background-color: #dcc831;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 18px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #1e9285;
    color: #dcc831;
    position: absolute;
    bottom: 32px;
    right: 40px;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #1e9285;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: '';
    background-color: #1e9285;
    width: 4px;
    height: 6px;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}

/* 

NAVIGATION 

*/

#personal-logo {
    width: 250px;
    height: 250px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}

/*

MODAL

*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.modal__half {
    width: 50%;
    padding: 42px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__about {
    background-color: rgb(246, 224, 168);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__contact {
    background-color: #1c1d25;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.modal__language--img {
    width: 100%;
}

.modal__title {
    font-size: 26px;
}

.modal__sub-title {
    margin: 12px 0 20px 0;
    font-size: 14px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #dcc831;
    border: 2px solid #dcc831;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    max-width: 240px;
    width: 100%;
    padding: 12px 20px;
    transition: all 300ms ease;
}

.form__submit:active {
    border: 4px solid #dcc831;
    border-color: #dcc831;
    color: #dcc831;
}

.form__submit:hover {
    border-color: #1e9285;
    background-color: #1e9285;
}

input {
    margin-top: 12px;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading {
    background-color: #1e9285;
    font-size: 96px;
    z-index: -1;
}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

.modal__overlay--visible {
    z-index: 1;
}

.fa-compact-disc {
    animation: disc 900ms infinite linear;
}

.modal__close {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 10;
}

@keyframes disc {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg);
    }
}
/*

PROJECTS 

*/

.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project {
    padding: 80px 40px;
}

.project__img {
    width: 100%;
    transition: all 300ms ease;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
    transition: all 300ms ease;
    height: 56vh;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__wrapper {
    opacity: 0.7;
}

.project__wrapper:hover .project__img {
    transform: scale(1.08);
    filter: blur(5px);
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms;
    color: white;
    max-width: 550px;
}

.project__description--title {
    font-size: 42px;
}

.project__description--sub-title {
    margin-top: 8px;
}

.project_description--para {
    margin: 16px 0;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 300ms ease;
}

.project__wrapper--bg:hover {
    opacity: 0.7;
}

/*

FOOTER

*/

footer {
    background-color: #1e9285;
    display: flex;
    padding: 4% 0;
    font-size: 24px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img {
    width: 320px;
}

.footer__social--links {
    width: 100%;
    max-width: 640px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.footer__social--link,
.footer__copyright {
    color: #dcc831;
    text-decoration: none;
}